news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authors" type="authorsType"/>
  <xs:complexType name="salaryType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute type="xs:string" name="currency" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="articlesType">
    <xs:sequence>
      <xs:element name="articles_topic">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/> <!-- Custom restriction -->
            <xs:maxLength value="100"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="first_article_date">
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:minInclusive value="1920-01-01"/> <!-- Custom restriction -->
            <xs:maxInclusive value="2040-12-31"/> <!-- Custom restriction -->
            <xs:pattern value=".{10}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="latest_article_date">
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:minInclusive value="1920-01-01"/> <!-- Custom restriction -->
            <xs:maxInclusive value="2040-12-31"/> <!-- Custom restriction -->
            <xs:pattern value=".{10}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="num_articles">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/> <!-- Custom restriction -->
            <xs:maxInclusive value="999"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="overall_article_rating">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/> <!-- Custom restriction -->
            <xs:maxLength value="3"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="avg_article_length_words">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/> <!-- Custom restriction -->
            <xs:maxInclusive value="20000"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phone_numberType">
    <xs:simpleContent>
      <xs:extension base="xs:long">
        <xs:attribute type="xs:string" name="type" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="phoneType">
    <xs:sequence>
      <xs:element type="phone_numberType" name="phone_number" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="email"/>
      <xs:element type="phoneType" name="phone"/>
      <xs:element name="linkedin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/> <!-- Custom restriction -->
            <xs:maxLength value="100"/> <!-- Custom restriction -->
            <xs:pattern value="https?://.+" /> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
    <xs:attribute type="xs:string" name="gdpr_opt_out" use="required"/>
  </xs:complexType>
  <xs:complexType name="school_nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="educationType">
    <xs:sequence>
      <xs:element name="country">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/> <!-- Custom restriction -->
            <xs:maxLength value="40"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="city">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])*"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="school_nameType" name="school_name"/>
      <xs:element name="education_reached">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="Masters|Bachelors"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="graduated_on">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/> <!-- Custom restriction -->
            <xs:maxLength value="10"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
  </xs:complexType>
  <xs:complexType name="direct_supervisorType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])*"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="surname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])*"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="gender">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="Male|Female"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/> <!-- Custom restriction -->
            <xs:maxInclusive value="125"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="contactType" name="contact"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="sid" use="required"/>
    <xs:attribute type="xs:string" name="lang" use="required"/>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])*"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="surname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z])*"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="gender"/>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/> <!-- Custom restriction -->
            <xs:maxInclusive value="125"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="employee_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Full time"/>
            <xs:enumeration value="Part time"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="salaryType" name="salary"/>
      <xs:element type="articlesType" name="articles"/>
      <xs:element name="joined_company">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="8"/> <!-- Custom restriction -->
            <xs:maxLength value="10"/> <!-- Custom restriction -->
            <xs:whiteSpace value="collapse"/> <!-- Custom restriction -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="contactType" name="contact"/>
      <xs:element type="educationType" name="education"/>
      <xs:element type="direct_supervisorType" name="direct_supervisor"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="required"/>
    <xs:attribute type="xs:string" name="lang" use="required"/>
  </xs:complexType>
  <xs:complexType name="authorsType">
    <xs:sequence>
      <xs:element type="authorType" name="author" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>