news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authors" type="authorsType"/>
  <xs:complexType name="articlesType">
    <xs:sequence>
      <xs:element name="articles_topic">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="World News, Domestic, Politics"/>
            <xs:enumeration value="World News, Domestic, Politics, Health"/>
            <xs:enumeration value="World News, Domestic, Politics, Entertainment"/>
            <xs:enumeration value="World News, Domestic, Politics, Religion, Science, Health"/>
            <xs:enumeration value="World News, Domestic, Politics, Business"/>
            <xs:enumeration value="World News, Domestic, Politics, Science, Health"/>
            <xs:enumeration value="World News, Domestic, Entertainment"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="first_article_date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="29.4.2012"/>
            <xs:enumeration value="31.8.2017"/>
            <xs:enumeration value="29.12.2012"/>
            <xs:enumeration value="12.7.2018"/>
            <xs:enumeration value="29.9.2010"/>
            <xs:enumeration value="6.4.2018"/>
            <xs:enumeration value="19.8.2011"/>
            <xs:enumeration value="29.12.2015"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="latest_article_date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20.8.2020"/>
            <xs:enumeration value="21.9.2020"/>
            <xs:enumeration value="20.1.2021"/>
            <xs:enumeration value="24.12.2020"/>
            <xs:enumeration value="1.4.2021"/>
            <xs:enumeration value="15.1.2021"/>
            <xs:enumeration value="11.1.2021"/>
            <xs:enumeration value="24.5.2020"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="num_articles">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="17"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="82"/>
            <xs:enumeration value="29"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="overall_article_rating">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="93%"/>
            <xs:enumeration value="75%"/>
            <xs:enumeration value="68%"/>
            <xs:enumeration value="80%"/>
            <xs:enumeration value="71%"/>
            <xs:enumeration value="59%"/>
            <xs:enumeration value="73%"/>
            <xs:enumeration value="49%"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="avg_article_length_words">
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:enumeration value="1259"/>
            <xs:enumeration value="1849"/>
            <xs:enumeration value="1487"/>
            <xs:enumeration value="1001"/>
            <xs:enumeration value="954"/>
            <xs:enumeration value="822"/>
            <xs:enumeration value="595"/>
            <xs:enumeration value="2248"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phoneType">
    <xs:sequence>
      <xs:element type="xs:long" name="personal_number"/>
      <xs:element type="xs:long" name="office_number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="email"/>
      <xs:element type="phoneType" name="phone"/>
      <xs:element name="linkedin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="https://www.linkedin.com/in/virgiltexas/"/>
            <xs:enumeration value="https://www.linkedin.com/in/petrkoval/"/>
            <xs:enumeration value="https://www.linkedin.com/in/williambomb/"/>
            <xs:enumeration value="https://www.linkedin.com/in/jonathanbrum/"/>
            <xs:enumeration value="https://www.linkedin.com/in/derekkilljoy/"/>
            <xs:enumeration value="https://www.linkedin.com/in/alancash/"/>
            <xs:enumeration value="https://www.linkedin.com/in/arturkorneyev/"/>
            <xs:enumeration value="https://www.linkedin.com/in/petrbramburek/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="educationType">
    <xs:sequence>
      <xs:element name="country">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Czech Republic"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="Germany"/>
            <xs:enumeration value="Slovakia"/>
            <xs:enumeration value="Russian Federation"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="city">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Prague"/>
            <xs:enumeration value="Marseille"/>
            <xs:enumeration value="Munich"/>
            <xs:enumeration value="Bratislava"/>
            <xs:enumeration value="Moscow"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="school_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Czech University of Life Sciences"/>
            <xs:enumeration value="Prague University of Economics and Business"/>
            <xs:enumeration value="Aix-Marseille University"/>
            <xs:enumeration value="Ludwig Maxmillian University of Munich"/>
            <xs:enumeration value="Slovak University of Technology in Bratislava"/>
            <xs:enumeration value="Czech Technical University in Prague"/>
            <xs:enumeration value="Lomonosov Moscow State University"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="education_reacher">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Masters"/>
            <xs:enumeration value="Bachelors"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="graduated_on">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5.4.2000"/>
            <xs:enumeration value="4.5.1995"/>
            <xs:enumeration value="15.4.2010"/>
            <xs:enumeration value="5.4.1998"/>
            <xs:enumeration value="4.3.2018"/>
            <xs:enumeration value="5.6.2011"/>
            <xs:enumeration value="2.1.1980"/>
            <xs:enumeration value="15.8.1999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direct_supervisorType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Alie"/>
            <xs:enumeration value="Petr"/>
            <xs:enumeration value="Anna"/>
            <xs:enumeration value="Kara"/>
            <xs:enumeration value="Jon"/>
            <xs:enumeration value="Johnny"/>
            <xs:enumeration value="Amelia"/>
            <xs:enumeration value="Glue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="surname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Blue"/>
            <xs:enumeration value="Klic"/>
            <xs:enumeration value="Karenina"/>
            <xs:enumeration value="Mara"/>
            <xs:enumeration value="Doe"/>
            <xs:enumeration value="Zhivago"/>
            <xs:enumeration value="Watson"/>
            <xs:enumeration value="Lue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="gender">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Female"/>
            <xs:enumeration value="Male"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="38"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="68"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="contactType" name="contact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Virgil"/>
            <xs:enumeration value="Petr"/>
            <xs:enumeration value="William"/>
            <xs:enumeration value="Jonathan"/>
            <xs:enumeration value="Derek"/>
            <xs:enumeration value="Alan"/>
            <xs:enumeration value="Artur"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="surname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Texas"/>
            <xs:enumeration value="Koval"/>
            <xs:enumeration value="Bomb"/>
            <xs:enumeration value="Brum"/>
            <xs:enumeration value="Killjoy"/>
            <xs:enumeration value="Cash"/>
            <xs:enumeration value="Korneyev"/>
            <xs:enumeration value="Bramburek"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="gender"/>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="39"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="65"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="employee_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Full time"/>
            <xs:enumeration value="Part time"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="salary_czk">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="25000"/>
            <xs:enumeration value="27000"/>
            <xs:enumeration value="22000"/>
            <xs:enumeration value="15000"/>
            <xs:enumeration value="29000"/>
            <xs:enumeration value="31000"/>
            <xs:enumeration value="17000"/>
            <xs:enumeration value="33000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="articlesType" name="articles"/>
      <xs:element name="joined_company">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="24.4.2012"/>
            <xs:enumeration value="21.8.2016"/>
            <xs:enumeration value="28.1.2010"/>
            <xs:enumeration value="2.1.2018"/>
            <xs:enumeration value="1.2.2009"/>
            <xs:enumeration value="4.6.2017"/>
            <xs:enumeration value="11.6.2010"/>
            <xs:enumeration value="11.12.2013"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="contactType" name="contact"/>
      <xs:element type="educationType" name="education"/>
      <xs:element type="direct_supervisorType" name="direct_supervisor"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="authorsType">
    <xs:sequence>
      <xs:element type="authorType" name="author" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>